<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }} -- CV Nathanaël JAGENI</title>
  {% block head %}{% endblock %}
</head>
<body class="{{ 'debug-screens' if env.devMode }}">
  {% include 'header.njk' %}
  {% block body %}
    {{ content | safe }}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/gh/virae/we-stand-with-ukraine@v1.0.0/badge.js" async></script>
</body>
</html>
