<div class="py-16 bg-local bg-presentation bg-orange-600">
	<h1 class="text-white">Nathanaël JAGENI</h1>
	<sub class="text-white">
		<code class="opacity-50 select-none">&lt;&gt;</code>
			<code>Web Developer Front-End</code>
		<code class="opacity-50 select-none">&lt;/&gt;</code>
	</sub>
</div>
<div class="container py-6 md:py-12 text-center text-lg">
	<div class="my-6">
		<p>
			I am a 27 years old web developer currently living in <b>Montevideo, Uruguay</b>.
			I speak <b>french, english &amp; spanish</b>.
		</p>
		<p>
			You can find most of my work at 
			<a href="freelance.nathanaeljageni.fr">freelance.nathanaeljageni.fr</a>
		</p>
	</div>
	<div class="my-6">
		<p><b>I am currently available for work.</b></p>
		<a
			href="https://www.malt.fr/profile/nathanaeljagenisellier1"
			target="_blank"
			rel="noreferrer noopener">
			<button class="hire-me-btn mt-4">
				Hire me on malt
			<button>
		</a>
	</div>
</div>
