<div class="container flex flex-wrap">
	<div class="md:w-1/2">
		<div class="my-6">
			<p>
				I am a 27 years old web developer currently living in <b>Montevideo, Uruguay</b>.
				I speak <b>french, english &amp; spanish</b>.
			</p>
			<p>
				You can find most of my work at 
				<a class="link" href="https://freelance.nathanaeljageni.fr">freelance.nathanaeljageni.fr</a>
			</p>
		</div>
		<div class="my-6">
			<p><b>I am currently available for work.</b></p>
			<a
				class="link"
				href="https://www.malt.fr/profile/nathanaeljagenisellier1"
				target="_blank"
				rel="noreferrer noopener">
				<button class="hire-me-btn mt-4">
					Hire me on Malt
				<button>
			</a>
		</div>
	</div>
	<div class="m-8 flex justify-center md:justify-end md:w-1/2 md:m-0">
		<img 
			class="w-3/4 sm:w-1/2 md:w-3/4 lg:w-4/6 xl:w-1/2"
			src="/img/undraw_presentation.svg" />
	</div>
</div>
