{% set randomPicture = images | randomPicture(page) %}
<div class="container absolute left-0 top-1/2 transform -translate-y-1/2">
	<h1 class="text-white">Nathanaël JAGENI</h1>
	<sub class="text-white">
		<code class="opacity-50 select-none lowercase">&lt;p&gt;</code>
			<code>Web Developer Front-End</code>
		<code class="opacity-50 select-none lowercase">&lt;/p&gt;</code>
	</sub>
</div>
<p class="absolute bottom-0 text-sm m-2 w-fit p-2">
	<span class="text-gray-200">Artwork by</span> 
	<a 
		href="{{ randomPicture.url }}" 
		rel="noreferrer noopener" 
		target="_blank">
		{{ randomPicture.artist }}
	</a>
</p>
<img class="w-full h-full object-cover" src="{{ randomPicture.src }}" alt="{{ randomPicture.alt }}" />