<div class="container">
	<h1 class="text-white">Nathanaël JAGENI</h1>
	<sub class="text-white">
		<code class="opacity-50 select-none">&lt;&gt;</code>
			<code>Web Developer Front-End</code>
		<code class="opacity-50 select-none">&lt;/&gt;</code>
	</sub>
</div>
