/* Custom Base Styles Go Here. */

[x-cloak] {
  @apply hidden;
}

h1 {
  @apply text-4xl font-bold text-center;
}

h2 {
  @apply text-xl uppercase text-center;
}

a {
  @apply text-indigo-700 hover:text-indigo-800;
}

li, p {
  @apply py-1;
}

.hire-me-btn {
  @apply px-4 py-2 bg-indigo-700 hover:bg-indigo-800 text-white rounded-sm shadow;
}