/* Custom Components Go Here. */

.bg-presentation {
	background: repeat center/15rem url('/img/bright-squares.png')
}

.presentation-header {
	@apply pt-32 pb-24 bg-orange-600;
}

.presentation {
	@apply py-6 md:py-16 xl:py-24 text-center md:text-left text-lg;
}