/* Custom Components Go Here. */

.bg-presentation {
	background: no-repeat center/cover url('/img/chromatic_wandering_2.jpg');
}

.presentation-header {
	@apply bg-gray-800;
}

.presentation {
	@apply py-6 md:py-16 xl:py-24 text-center md:text-left text-lg;
}