{% set title = 'Home' %}
{% extends "layout.njk" %}

{# This page is built with nunjucks! #}

{% block body %}
  <main class="">

    <div class="relative presentation-header h-96 overflow-hidden shadow-md">
      {% include 'presentation/presentation-header.njk' %}
    </div>
    <div class="presentation">
      {% include 'presentation/presentation.njk' %}
    </div>
    
    <div class="bg-gray-50 py-16">
      {% include 'competence.njk' %}
    </div>

    <div class="bg-gray-100 py-16">
      {% include 'experience.njk' %}
    </div>

    <div class="bg-gray-200 py-16">
      {% include 'education.njk' %}
    </div>


  </main>
  <div class="bg-gray-800 py-2">
    {% include 'footer.njk' %}
  </div>
{% endblock %}
