{% set title = 'Home' %}
{% extends "layout.njk" %}

{# This page is built with nunjucks! #}

{% block body %}
  <main class="">

    {% include 'presentation.njk' %}
    <p>It's written in nunjucks at <code>src/index.njk</code></p>

    <ul>
      {%- for post in collections.experience -%}
        <li>
          {{ post.data.title }}
          {{ post.data.period }}
        </li>
      {%- endfor -%}
    </ul>
  </main>
{% endblock %}
