{% set title = 'Home' %}
{% extends "layout.njk" %}

{# This page is built with nunjucks! #}

{% block body %}
  <main class="">

    {% include 'presentation.njk' %}
    
    {% include 'experience.njk' %}
  

  </main>
{% endblock %}
